body{
  margin: 0;
}

.globe{
  height: 40px;
  width: 50px;
}

.header{
  height: 55px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #0b3508df;
}

.header > h1{
  margin-left: 1px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: Inter;
}

.place-image{
  height: 300px;
  width: 200px;
  border-radius: 5px 30px 30px 30px;
}

.location-pin{
  margin-left: 20px;
  height: 15px;
  width: 20px;
}

.card{
  margin: 10px;
  width: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  padding: 50px;

}

.place-details a{
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  margin-left: 18px;
  color: grey;
  font-size: medium;
}

.place-details a::after{
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

.place-details span{
  font-weight: lighter;
  font-family: Parkinsans;
  font-size: 20px;
}

.place-details h1{
  font-family: Parkinsans;
  font-weight: bold;
  font-size: 30px;
}

.entry{
  margin-left: 20px;
}

.entry-text{
  font-family: Parkinsans;
  font-size: 20px;
  font-weight: normal;
}

.date{
  font-family: Parkinsans;
  font-size: 20px;
  font-weight: bold;
}
